.sw__table__wrapper {
  display: flex;
  justify-content: center;
}

.sw__table {
  text-align: center;

  & table {
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
  }

  & td, th {
    padding: 15px 5px;
  }

  & thead {
    background-color: #151a30;

    & th {
      padding: 5px 10px;
    }
  }

  & tr:nth-child(even) {
    background-color: #151a30;
  }
}

.sw__table__options {
  padding: 10px 0 0 10px;
}
