.links {
  margin: auto;
}

.link {
  padding: 0 5px;
  margin: 0 50px;
  text-decoration: none;
  font-size: 20px;
  background: none;
  border-bottom: 0;
  transition: all ease 0.2s;
  &:hover {
    border-bottom: white 2px solid;
  }
}

.active {
  border-bottom: white 2px solid;
}
