<nb-layout>

  <nb-layout-header fixed >
    <div class="links">
      <a
        class="link {{location === 'home' ? 'active' : ''}}"
        (click)="currentLink('home')"
        [routerLink]="['home']"
        routerLinkActive="active"
      >
        Home
      </a>
      <a
        class="link {{location === 'articles' ? 'active' : ''}}"
        (click)="currentLink('articles')"
        [routerLink]="['articles']"
      >
        Articles
      </a>
      <a
        class="link {{location === 'login' ? 'active' : ''}}"
        (click)="currentLink('login')"
        [routerLink]="['login']"
      >
        Login
      </a>
      <a
        class="link {{location === 'registration' ? 'active' : ''}}"
        (click)="currentLink('registration')"
        [routerLink]="['registration']">Registration</a>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
