.links {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  font-size: 20px;
  background: none;
  border-bottom: 0;
  transition: all ease .2s;

  &:hover {
    border-bottom: #fff 2px solid;
  }
}

.active {
  border-bottom: #fff 2px solid;
}
