.nasa_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nasa_search_card {
  width: 500px;
  height: 73px;
  margin-bottom: 10px;
}

.nasa_search_group {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.nasa_search {
  width: 60%;
}

.btn-search {
  width: 40%;
}

.nasa_item {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "des img"
    "date img";
  max-width: 1200px;
  max-height: 600px;

  & a {
    margin: 0 0 0 auto;
  }
}

.nasa_item_image {
  max-width: 100%;
  max-height: 400px;
}

.nasa_card_description {
  text-align: justify;
  max-width: 100%;
}

.spinner {
  height: 100px;
  width: 500px;
  background-color: transparent !important;
}

.error_message {
  text-align: center;
  width: 500px;
}

.scroll_container {
  height: 730px;
  width: 700px;

  &::-webkit-scrollbar {
    width: 16px;
    background-color: #0f2c57;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 3px;
    height: 50px;
  }

  &::-webkit-scrollbar-track  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  }
}
