<div class="users__table">
  <nb-card>
    <nb-card-body class="users__table__wrapper">
      <div class="btn__get__wrapper">
        <a [routerLink]="['/users/page', 1]" (click)="getUsers()">
          <button
            class="btn__get"
            nbButton
            status="info"
            [nbSpinner]="loading"
          >Get users
          </button>
        </a>
        <button
          [routerLink]="['/users']"
          (click)="deleteUsers()"
          nbButton
          status="danger"
          [disabled]="!isExist && !users.length"
        >
          Delete
        </button>
      </div>
      <img
        src="https://cdn.dribbble.com/users/41394/screenshots/5240470/avatarsanimation.gif"
        draggable="false"
        *ngIf="!isExist && !users.length"
        alt="users"
      >
      <app-users-table class="users__table__component">
      </app-users-table>
    </nb-card-body>
  </nb-card>
</div>
