.card-image {
  max-height: 430px !important;
  width: 100%;
}

.card-description {
  padding: 5px 20px 20px 20px;
  text-align: justify;
  text-indent: 30px;
  font-size: 18px;
}

.card {
  margin: 20px;
}

.card-title {
  font-size: 21px;
}
