.blog {
  margin: auto;
  max-width: 1000px;
  height: 100%;
  position: relative;

  &__field {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 5;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 500px;
    position: absolute;
    top: 20%;
    left: 35%;
    z-index: 5;
  }

  input {
    font-size: 18px;
    margin: 10px 0;
  }

  label {
    font-size: 18px;
    margin: 10px 0;
  }

  & textarea {
    font-size: 18px;
    margin: 10px 0;
    height: 200px;
    resize: none;


    &::-webkit-scrollbar {
      width: 16px;
      background-color: #0f2c57;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #007bff;
      border-radius: 3px;
      height: 50px;
    }

    &::-webkit-scrollbar-track  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }
  }
  &__btn__close {
    visibility: hidden;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: ease 0.2s;

    button {
      width: 24px;
      height: 24px;
    }
  }

  &__btn__add  {
    text-align: right;
  }

  &__btn__field {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 8;
  }

  &__wrapper:hover {
    .blog__btn__close {
      visibility: visible;
    }
  }
}
